Repository KyleKing/nvim: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-plugin-docs, helptags

generate-plugin-docs:
  name: Generate plugin docs from fixtures
  description: Auto-generate doc/generated/plugins.md from test fixtures
  entry: bash -c 'MINI_DEPS_LATER_AS_NOW=1 nvim --headless -c "lua require(\"tests.docs.generator\").generate_all()" +qall'
  language: system
  pass_filenames: false

helptags:
  name: Generate helptags
  entry: nvim --headless -c "helptags doc" -c "qall!"
  language: system
  pass_filenames: false

test: expand test coverage on recent changes
  big-commit-what-happened.md
  doc/kyleking-neovim.txt
  lua/find-relative-executable/init.lua
  lua/kyleking/deps/bars-and-lines.lua
  lua/kyleking/deps/snippets.lua
  lua/kyleking/utils/workspace_diagnostics.lua
  lua/tests/custom/formatter_detection_spec.lua
  lua/tests/custom/vcs_root_spec.lua
  lua/tests/integration/workspace_diagnostics_integration_spec.lua
  scripts/check-lua-diagnostics.lua
Due: helptags

feat: add TUI terminal resizing
  .luarc.json
  big-commit-what-happened.md
  lua/kyleking/core/autocmds.lua
  lua/tests/integration/window_resize_spec.lua
  lua/tests/integration/workspace_diagnostics_integration_spec.lua
Due: none

refactor: split up complex files
  lua/find-relative-executable/init.lua
  lua/kyleking/deps/bars-and-lines.lua
  lua/kyleking/deps/statusline.lua
  lua/kyleking/utils/workspace_diagnostics.lua
  lua/kyleking/utils/workspace_diagnostics/batch_fix.lua
  lua/kyleking/utils/workspace_diagnostics/init.lua
  lua/kyleking/utils/workspace_diagnostics/project_discovery.lua
  lua/kyleking/utils/workspace_diagnostics/quickfix.lua
  lua/kyleking/utils/workspace_diagnostics/tool_runner.lua
  lua/kyleking/utils/workspace_diagnostics/ui.lua
  lua/tests/custom/cache_invalidation_spec.lua
Due: none

feat: add TS sort
  lua/kyleking/deps/editing-support.lua
  lua/kyleking/utils/sorting.lua
  lua/tests/custom/sorting_spec.lua
  lua/tests/custom/workspace_diagnostics_spec.lua
  lua/tests/docs/workspace-diagnostics.lua
  next.md
Due: generate-plugin-docs

test: improve lua diagnostics performance
  .pre-commit-config.yaml
  scripts/check-lua-diagnostics-minimal.lua
Due: none

fix: run lua diagnostics with --check
  .pre-commit-config.yaml
  mise.toml
  scripts/check-lua-diagnostics-minimal.lua
  scripts/check-lua-diagnostics.lua
  scripts/check-lua-lsp.sh
Due: none

docs: add benchmark performance on pre-commit
  .pre-commit-config.yaml
  AGENTS.md
  BENCHMARKS.md
  scripts/measure_nvim.sh
Due: none

ci: fix lua warnings
  .pre-commit-config.yaml
  BENCHMARKS.md
  lua/kyleking/deps/utility.lua
  lua/kyleking/utils/list_editing.lua
  lua/kyleking/utils/test_runner.lua
  lua/tests/custom/cache_invalidation_spec.lua
  lua/tests/custom/clue_help_spec.lua
  lua/tests/custom/file_opener_spec.lua
  lua/tests/custom/health_spec.lua
  lua/tests/custom/terminal_integration_spec.lua
  lua/tests/custom/tool_resolve_spec.lua
  lua/tests/custom/vcs_root_spec.lua
  lua/tests/performance/terminal_spec.lua
  scripts/measure_nvim.sh
Due: none

fix: to hide, use <Cmd> instead of : & remove <leader>q
  lua/kyleking/core/autocmds.lua
  lua/kyleking/core/keymaps.lua
  lua/kyleking/utils/test_runner.lua
Due: none

feat: add toggles for autocmp and show trailspace
  AGENTS.md
  lua/kyleking/core/lsp.lua
  lua/kyleking/deps/editing-support.lua
  lua/kyleking/deps/formatting.lua
  lua/kyleking/deps/lsp.lua
  lua/tests/docs/lsp-advanced.lua
  lua/tests/docs/lsp-keymaps.lua
  lua/tests/integration/format_lint_on_save_spec.lua
  mini-deps-snap
Due: generate-plugin-docs

test: check for collisions
  lua/kyleking/core/keymaps.lua
  lua/kyleking/utils/test_runner.lua
  lua/tests/core/keymap_collision_spec.lua
Due: none

fix: test and prevent error when toggling trailspaces
  lua/kyleking/deps/editing-support.lua
  lua/tests/docs/editing-support.lua
Due: generate-plugin-docs

feat: switch to hybrid clipboard management
  lua/kyleking/core/keymaps.lua
  lua/kyleking/core/options.lua
  lua/kyleking/deps/fuzzy-finder.lua
  lua/tests/docs/core-keymaps.lua
  lua/tests/docs/pick.lua
Due: generate-plugin-docs

fix: restore native nvim tabs/buffer behavior
  AGENTS.md
  lua/kyleking/deps/bars-and-lines.lua
  lua/tests/docs/pick.lua
Due: generate-plugin-docs

tests: add editing workflows & catch augroups recreation bugs
  AGENTS.md
  doc/kyleking-neovim.txt
  lua/tests/core/keymap_collision_spec.lua
  lua/tests/docs/core-keymaps.lua
  lua/tests/docs/editing-support.lua
  lua/tests/docs/navigation.lua
Due: generate-plugin-docs, helptags

ci: resolve lint errors
  BENCHMARKS.md
  lua/tests/core/keymap_collision_spec.lua
  lua/tests/docs/editing-support.lua
Due: generate-plugin-docs

refactor: improve detailed statusline
  BENCHMARKS.md
  lua/kyleking/deps/statusline.lua
  mini-deps-snap
Due: none

docs: consider generalizing doctest pattern
  ideas-testdoc/README-design-patterns.md
  ideas-testdoc/composable-system-design.md
  ideas-testdoc/compositional-design.md
  ideas-testdoc/documentation-driven-testing.md
  ideas-testdoc/testable-tui-patterns.md
Due: none

fix: replace deprecated vim.lsp.with
  lua/kyleking/deps/lsp.lua
Due: none

build: MiniDeps update
  mini-deps-snap
Due: none

build: update dependencies
  mini-deps-snap
Due: none

docs: copy guidance
  copy-who.txt
Due: none

docs: cleanup misc. notes
  LSP_GTD.md
  ROADMAP.md
  big-commit-what-happened.md
  copy-who.txt
  doc/kyleking-neovim.txt
  doc/quickfix-batch-modes.md
  doc/src/config.md
  doc/src/diagnostics-workflows.md
  doc/src/main.md
  doc/src/motion-models.md
  doc/src/vim-essentials.md
  doc/workspace-diagnostics.md
  next.md
Due: helptags

docs: latest benchmark
  BENCHMARKS.md
Due: none

feat: integrate tombi and hunk
  .github/README.md
  doc/kyleking-neovim.txt
  doc/src/config.md
  lsp/tombi.lua
  lua/kyleking/deps/formatting.lua
  lua/kyleking/deps/lsp.lua
  lua/kyleking/deps/terminal-integration.lua
  mini-deps-snap
Due: helptags

feat: enable mini.files LSP-aware file operations
  lua/kyleking/deps/file-explorer.lua
  lua/tests/docs/files.lua
  lua/tests/integration/mini_files_operations_spec.lua
Due: generate-plugin-docs

feat: add mini.input and mini.cmdline
  lua/kyleking/deps/cmdline.lua
  lua/kyleking/deps/input.lua
  lua/kyleking/setup-deps.lua
  lua/tests/docs/cmdline.lua
  lua/tests/docs/input.lua
  lua/tests/plugins/mini_cmdline_spec.lua
  lua/tests/plugins/mini_input_spec.lua
  mini-deps-snap
Due: generate-plugin-docs

refactor: drop redundant standalone mini.snippets pin
  lua/kyleking/deps/snippets.lua
Due: none

feat: consolidate completion/snippet insert keys via mini.keymap
  lua/kyleking/core/lsp.lua
  lua/kyleking/deps/keymap.lua
  lua/kyleking/deps/snippets.lua
  lua/kyleking/setup-deps.lua
  lua/tests/docs/keymap.lua
  lua/tests/docs/snippets.lua
  lua/tests/plugins/mini_keymap_spec.lua
Due: generate-plugin-docs

feat: migrate plugin management from mini.deps to vim.pack
  .pre-commit-config.yaml
  doc/kyleking-neovim.txt
  doc/src/config.md
  lua/kyleking/deps/bars-and-lines.lua
  lua/kyleking/deps/buffer.lua
  lua/kyleking/deps/color.lua
  lua/kyleking/deps/colorscheme.lua
  lua/kyleking/deps/editing-support.lua
  lua/kyleking/deps/file-explorer.lua
  lua/kyleking/deps/formatting.lua
  lua/kyleking/deps/fuzzy-finder.lua
  lua/kyleking/deps/git.lua
  lua/kyleking/deps/keybinding.lua
  lua/kyleking/deps/local.lua
  lua/kyleking/deps/lsp.lua
  lua/kyleking/deps/motion.lua
  lua/kyleking/deps/search.lua
  lua/kyleking/deps/snippets.lua
  lua/kyleking/deps/split-and-window.lua
  lua/kyleking/deps/statusline.lua
  lua/kyleking/deps/syntax.lua
  lua/kyleking/deps/utility.lua
  lua/kyleking/health.lua
  lua/kyleking/pack.lua
  lua/kyleking/setup-deps.lua
  lua/tests/core/smoke_spec.lua
  lua/tests/custom/health_spec.lua
  lua/tests/performance/startup_spec.lua
  mini-deps-snap
  nvim-pack-lock.json
Due: helptags

docs: benchmark
  BENCHMARKS.md
  scripts/measure_nvim.sh
Due: none

fix: avoid conflict with cmdline
  lua/kyleking/core/options.lua
  lua/tests/docs/cmdline.lua
Due: generate-plugin-docs

chore: post-migration cleanups (env rename, test fixes, extra pickers)
  .github/README.md
  .github/workflows/test.yml
  .pre-commit-config.yaml
  AGENTS.md
  doc/kyleking-neovim.txt
  doc/src/config.md
  lua/kyleking/deps/fuzzy-finder.lua
  lua/kyleking/setup-deps.lua
  lua/kyleking/utils/constants.lua
  lua/kyleking/utils/test_runner.lua
  lua/tests/custom/preview_spec.lua
  lua/tests/custom/workspace_diagnostics_spec.lua
  lua/tests/docs/pick.lua
  lua/tests/helpers.lua
  mise.toml
  scripts/run_tests_with_coverage.sh
Due: generate-plugin-docs, helptags

docs: PLAN implementation of url-open
  PLAN-open.md
Due: none

fix: attempt to fix markdown rendering with many code blocks (WIP)
  lua/kyleking/deps/statusline.lua
Due: none

fix: disable treesitter highlight on large buffers
  lua/kyleking/core/autocmds.lua
  lua/kyleking/deps/statusline.lua
  lua/kyleking/utils/constants.lua
  lua/tests/custom/constants_spec.lua
Due: none

fix: markdown code-block highlighting crash on Neovim 0.12
  lua/kyleking/deps/statusline.lua
  lua/kyleking/deps/syntax.lua
  lua/tests/performance/markdown_spec.lua
Due: none

fix: prevent errors when quickly switching buffers
  lua/kyleking/deps/file-explorer.lua
Due: none

docs: add benchmarks
  BENCHMARKS.md
Due: none

fix: eliminate test-suite flakiness from highlight-undo on deleted buffers
  lua/kyleking/core/lsp.lua
  lua/kyleking/deps/editing-support.lua
  lua/kyleking/deps/syntax.lua
Due: none

Path conditions:
  generate-plugin-docs: any of: ^lua/tests/docs/.*\.lua$, but not: lazy-lock\.json|LICENSE\.md
  helptags: any of: ^doc/kyleking-neovim\.txt$, but not: lazy-lock\.json|LICENSE\.md
