Repository KyleKing/nvim: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-plugin-docs, helptags

Path conditions:
  generate-plugin-docs: any of: ^lua/tests/docs/.*\.lua$, but not: lazy-lock\.json|LICENSE\.md
  helptags: any of: ^doc/kyleking-neovim\.txt$, but not: lazy-lock\.json|LICENSE\.md

fix: annotate treesitter query/group types in sorting util
  lua/kyleking/utils/sorting.lua
Due: none

fix: work around flash/nap plugin annotation gaps in motion keymaps
  lua/kyleking/deps/motion.lua
Due: none

fix: annotate linter/lazydev types flagged by typecheck
  lua/kyleking/deps/lsp.lua
Due: none

fix: annotate template cache type and assert debug.getinfo result
  lua/kyleking/utils/preview.lua
Due: none

fix: cast mini.snippets session.get() to nilable result
  lua/kyleking/deps/snippets.lua
Due: none

fix: annotate osdate/month arithmetic types in usage store
  lua/kyleking/utils/usage/store.lua
Due: none

fix: annotate numeric/table types flagged in test_runner and utils
  lua/kyleking/utils.lua
  lua/kyleking/utils/test_runner.lua
Due: none

fix: widen VISUAL table type so mode checks aren't literal-true
  lua/kyleking/utils/usage/motion.lua
Due: none

fix: assert bounded row lookup in usage report render
  lua/kyleking/utils/usage/report.lua
Due: none

fix: cast indent_len non-nil inside deferred list-editing closures
  lua/kyleking/utils/list_editing.lua
Due: none

fix: type the usage tracking state table and its dependents' returns
  lua/kyleking/utils/usage/init.lua
  lua/kyleking/utils/usage/motion.lua
  lua/kyleking/utils/usage/patterns.lua
Due: none

fix: annotate remaining nil-safety/type gaps in test helpers and specs
  lua/tests/core/keymap_collision_spec.lua
  lua/tests/custom/usage_cold_spec.lua
  lua/tests/helpers.lua
Due: none

fix: correct broken standalone-run guard and annotate toggle_map type
  lua/tests/docs/editing-support.lua
  lua/tests/integration/treesitter_navigation_spec.lua
Due: generate-plugin-docs

fix: silence LuaJIT randomseed access-invisible false positive
  lua/tests/custom/link_open_fuzz_spec.lua
Due: none

fix: annotate/cast remaining nil-safety gaps in docs runner and picker spec
  lua/tests/custom/usage_spec.lua
  lua/tests/docs/runner.lua
  lua/tests/ui/picker_config_spec.lua
Due: generate-plugin-docs

fix: clear last buffer to end testing!
  lua/tests/custom/redos_spec.lua
Due: none

fix: clear lua-language-server warnings across config and tests
  .luarc.json
  BENCHMARKS.md
  doc/kyleking-neovim.txt
  lua/kyleking/deps/lsp.lua
  lua/kyleking/deps/statusline.lua
  lua/kyleking/deps/terminal-integration.lua
  lua/kyleking/utils/sorting.lua
  lua/kyleking/utils/test_runner.lua
  lua/kyleking/utils/usage/store.lua
  lua/tests/custom/link_open_fuzz_spec.lua
  lua/tests/docs/runner.lua
Due: generate-plugin-docs, helptags

ci: drop ubi backend
  mise.lock
  mise.toml
Due: none

ci: switch to cargo
  mise.lock
  mise.toml
Due: none

build: migrate git hooks from pre-commit to hk
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  AGENTS.md
  BENCHMARKS.md
  doc/kyleking-neovim.txt
  hk.pkl
  mise.lock
  mise.toml
  scripts/check-lua-lsp.sh
  scripts/panvimdoc.sh
  scripts/run_tests_with_coverage.sh
  selene.toml
Due: helptags
